In [1]:
# To fetch financial data
import yfinance as yf

# For visualisation
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-darkgrid')

In [2]:
# Download the minute data for Apple
apple_minute_data = yf.download(tickers="AAPL", period="5d", interval="1m", auto_adjust=True)

# Dispaly the first 5 rows
apple_minute_data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume
Datetime,,,,,
2021-11-23 09:30:00-05:00,161.119995,161.539993,160.860001,161.470001,4109700
2021-11-23 09:31:00-05:00,161.460007,161.800003,161.210007,161.220001,578381
2021-11-23 09:32:00-05:00,161.190002,161.250000,160.399994,160.429993,647259
2021-11-23 09:33:00-05:00,160.000000,160.000000,159.750000,159.750000,764868
2021-11-23 09:34:00-05:00,160.000000,160.169998,159.710007,159.720001,601529

In [3]:
# Aggregate function
ohlcv_dict = {'Open': 'first',
              'High': 'max',
              'Low': 'min',
              'Close': 'last',
              'Volume': 'sum'
             }

In [4]:
# Resample data to 15 minutes data
apple_minute_data_15M = apple_minute_data.resample('15T').agg(ohlcv_dict)

# Drop the missing values
apple_minute_data_15M.dropna(inplace=True)

# Display the first 5 rows
apple_minute_data_15M.head()

,Open,High,Low,Close,Volume
Datetime,,,,,
2021-11-23 09:30:00-05:00,161.119995,161.800003,159.710007,160.199997,10373491
2021-11-23 09:45:00-05:00,160.270004,160.949997,160.250000,160.735001,4200717
2021-11-23 10:00:00-05:00,160.735001,160.860001,159.060104,159.600006,5593066
2021-11-23 10:15:00-05:00,159.610001,159.919998,159.320007,159.664993,3714792
2021-11-23 10:30:00-05:00,159.660004,160.279999,159.544998,160.080002,3780955

In [5]:
# Resample data to 1 hour data
apple_minute_data_1H = apple_minute_data.resample('1H').agg(ohlcv_dict)

# Drop the missing values
apple_minute_data_1H.dropna(inplace=True)

# Display the first 5 rows
apple_minute_data_1H.head()

,Open,High,Low,Close,Volume
Datetime,,,,,
2021-11-23 09:00:00-05:00,161.119995,161.800003,159.710007,160.735001,14574208
2021-11-23 10:00:00-05:00,160.735001,160.860001,159.060104,159.960007,16357455
2021-11-23 11:00:00-05:00,159.954407,160.490005,159.229996,159.820007,13451155
2021-11-23 12:00:00-05:00,159.820007,160.610001,159.429993,159.781006,9444400
2021-11-23 13:00:00-05:00,159.779999,160.110001,159.080002,160.014999,8485235

In [6]:
# Resample data to 4 hours data
apple_minute_data_4H = apple_minute_data.resample('4H').agg(ohlcv_dict)

# Drop the missing values
apple_minute_data_4H.dropna(inplace=True)

# Display the first 5 rows
apple_minute_data_4H.head()

,Open,High,Low,Close,Volume
Datetime,,,,,
2021-11-23 08:00:00-05:00,161.119995,161.800003,159.060104,159.820007,44382818
2021-11-23 12:00:00-05:00,159.820007,161.690002,159.080002,161.410004,43271718
2021-11-24 08:00:00-05:00,160.750000,161.979996,159.639999,161.262299,32859572
2021-11-24 12:00:00-05:00,161.259995,162.139999,160.490494,161.940002,29813455
2021-11-26 08:00:00-05:00,159.565002,160.449997,156.899994,158.089996,45427134